# Intellij
.idea/
*.iml
*.iws
.last_module

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# App
*.log

#yeoman
.yo-rc.json
node_modules

jvm-libs.jar
node-app/jvm-dependencies/
package-lock.json
